# use azd env get-values
# azd env refresh



AZURE_ENV_NAME=
AZURE_LOCATION=
AZURE_RESOURCE_GROUP=
AZURE_SUBSCRIPTION_ID=
application_name=
application_url=

FOUNDRY_ENDPOINT=

APPLICATIONINSIGHTS_CONNECTION_STRING=

DATABASE_NAME=
CONTAINER_NAME=
COSMOS_KEY=

cosmosDbEndpoint=

FOUNDRY_API_VERSION=

gpt_endpoint=
gpt_deployment=
gpt_api_version=

embedding_endpoint=
embedding_deployment=
embedding_api_version=
embedding_deployment=
embedding_api_version=

phi_4_endpoint=
phi_4_deployment=
phi_4_api_version=

storage_container_name=
storage_account_name=
storageAccountName=

container_registry_name=

